.buttonslide {
    color: var(--primary-text);
    border: none;
    border-color: white;
    margin-left: -0.35vw;
    font-size: 1.2vw;
    font-family: var(--font);
    text-align: start;
    display: inline-block;
    z-index: 1;
    background-color: #00000000;
    transition-duration: 0.4s;
 }
.buttonslide:hover {
    color: var(--primary-text-highlight);
    }
