:root {
    --margintop: 1vw;
    --borderstyle: var(--border-style);
    --articleSliderH1: "";
}
.articleSlider {
    display: grid;
    position: relative;
    grid-template-columns: 85vw;
    grid-template-rows: var(--articleSliderH1);
    justify-content: center;
    justify-self: stretch;
    align-content: stretch;
    justify-items: normal;
    align-items: stretch;
    border-style: var(--borderstyle);
    border-color: var(--border-color);
} 
.sliderBlock {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    position: relative;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    justify-items: normal;
    text-align: end;
    margin-top: var(--margintop);
    color: var(--secondary-text);
    border-style: var(--borderstyle);
    border-color: var(--border-color);
}


