:root {
    --margintop: 20vh;
    --borderstyle: var(--border-style);
    --topmargin: "";
    --singlecolumnh1: "";
    --singlecolumnh2: "";
    --singlecolumnh3: "";
    --singlecolumnh4: "";
}
.singleColumn {
    display: grid;
    position: relative;
    grid-template-columns: 80vw;
    grid-template-rows: var(--singlecolumnh1) var(--singlecolumnh2) var(--singlecolumnh3) var(--singlecolumnh4);
    justify-content: center;
    justify-self: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: var(--margintop);
    border-style: var(--borderstyle);
    border-color: var(--border-color);
} 
.singleColumnMobile {
    display: grid;
    position: relative;
    grid-template-columns: 80vw;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    justify-self: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    border-style: var(--borderstyle);
    border-color: var(--border-color);
} 
.firstRow {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    text-align: center;
    margin-top: var(--margintop);
    color: var(--primary-text);
    border-style: var(--borderstyle);
    border-color: var(--border-color);
}
.secondRow {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    text-align: center;
    margin-top: var(--margintop);
    color: var(--primary-text);
    border-style: var(--borderstyle);
    border-color: var(--border-color);
}
.thirdRow {
    grid-row: 3 / 3;
    grid-column: 1 / 1;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    text-align: center;
    margin-top: var(--margintop);
    color: var(--primary-text);
    border-style: var(--borderstyle);
    border-color: var(--border-color);
} 
.fourthRow {
    grid-row: 4 / 4;
    grid-column: 1 / 1;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    text-align: center;
    margin-top: var(--margintop);
    color: var(--primary-text);
    border-style: var(--borderstyle);
    border-color: var(--border-color);
} 