/* This section contains the main wrapper of the site, all items are placed in the central column (2), which has separate grids defined within its rows. */
/* The root variables mean that the sizing of each component within each row can be adjusted from a single file and used wherever needed.  */
/* Any variable from row 1 that is used must be added to the calc for its sum, 0 values must be removed from this as it causes issues. */
:root {
    --row1-h1: 30vw;
    --row1-h2: 15vw;
    --row1-h3: 0;
    --row1-h4: 0;
    --row1-h5: 0;
    --row1: calc(var(--row1-h1) + var(--row1-h2));
    --row1m-h1: 30vw;
    --row1m-h2: 15vw;
    --row1m-h3: 0;
    --row1m-h4: 0;
    --row1m-h5: 0;
    --row1m: calc(var(--row1m-h1) + var(--row1m-h2));
}
.sitewrapper {
    display: grid;
    position: relative;
    grid-template-columns: 5vw 90vw 5vw;
    grid-auto-rows: auto auto auto auto auto auto;
    color: var(--primary-text);
    font-family: var(--font);
    border-style: var(--border-style);
    border-color: var(--border-color);
  }

.headerrow {
    display: grid;
    grid-row: 1;
    grid-column: 2;
    grid-template-columns: repeat(9, 10vw);
    grid-template-rows: auto;
    position: relative;
    justify-content: center;
    justify-self: stretch;
    align-content: center;
    justify-items: center;
    align-items: center;
    border-style: var(--border-style);
    border-color: var(--border-color);
} 
.row1 {
    display: grid;
    position: absolute;
    grid-row: 2;
    grid-column: 2;
    grid-template-columns: 90vw;
    grid-template-rows: var(--row1);
    position: relative;
    border-style: solid;
    border-color: white;
} 
.row2 {
    display: grid;
    grid-row: 3;
    grid-column: 2;
    grid-template-columns: repeat(9, 10vw);
    grid-template-rows: auto;
    position: relative;
    justify-content: stretch;
    justify-self: stretch;
    align-content: center;
    justify-items: stretch;
    align-items: center;
    border-style: var(--border-style);
    border-color: var(--border-color);
} 
.row3 {
    display: grid;
    grid-row: 4;
    grid-column: 2;
    grid-template-columns: repeat(9, 10vw);
    grid-template-rows: auto;
    position: relative;
    justify-content: stretch;
    justify-self: stretch;
    align-content: center;
    justify-items: stretch;
    align-items: center;
    border-style: var(--border-style);
    border-color: var(--border-color);
} 
.row4 {
    display: grid;
    grid-row: 5;
    grid-column: 2;
    grid-template-columns: repeat(9, 10vw);
    grid-template-rows: auto;
    position: relative;
    justify-content: stretch;
    justify-self: stretch;
    align-content: center;
    justify-items: stretch;
    align-items: center;
    border-style: var(--border-style);
    border-color: var(--border-color);
} 
.footerrow {
    display: grid;
    grid-row: 6;
    grid-column: 2;
    grid-template-columns: repeat(9, 10vw);
    grid-template-rows: auto;
    position: relative;
    justify-content: center;
    justify-self: stretch;
    align-content: center;
    justify-items: center;
    align-items: center;
    border-style: var(--border-style);
    border-color: var(--border-color);
} 

