:root {
    --margintop: 1vw;
    --borderstyle: var(--border-style);
    --tripleColumnH1: "";
    --tripleColumnH2: "";
}
.mobileTextHeading {
    color: var(--primary-text);
    font-family: var(--font);
    font-weight: var(--mobile-heading-weight);
    text-rendering: optimizeLegibility;
    font-size: var(--mobile-heading);
    line-height: 1.1;
}
.mobileTextBody {
    color: var(--primary-text);
    font-family: var(--font);
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-size: var(--mobile-body);
    line-height: 1.1;
}
.desktopTextHeading {
    color: var(--primary-text);
    font-family: var(--font);
    font-weight: var(--desktop-heading-weight);
    text-rendering: optimizeLegibility;
    font-size: var(--desktop-heading);
    line-height: 1.1;
}
.desktopTextBody {
    color: var(--primary-text);
    font-family: var(--font);
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-size: var(--desktop-body);
    line-height: 1.1;
}
.tripleColumn {
    display: grid;
    position: relative;
    grid-template-columns: 28vw 28vw 28vw;
    grid-template-rows: var(--tripleColumnH1) var(--tripleColumnH2);
    column-gap: 3vw;
    justify-content: center;
    justify-self: center;
    align-content: start;
    justify-items: center;
    align-items: start;
    border-style: var(--borderstyle);
    border-color: var(--border-color);
} 
.leftTitle {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    text-align: center;
    margin-top: var(--margintop);
    color: var(--primary-text);
    border-style: var(--borderstyle);
    border-color: var(--border-color);
}
.rightTitle {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    text-align: center;
    margin-top: var(--margintop);
    color: var(--primary-text);
    border-style: var(--borderstyle);
    border-color: var(--border-color);
}
.midTitle {
    grid-row: 1 / 1;
    grid-column: 3 / 3;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    text-align: center;
    margin-top: var(--margintop);
    color: var(--primary-text);
    border-style: var(--borderstyle);
    border-color: var(--border-color);
} 

.leftText {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    text-align: center;
    margin-top: var(--margintop);
    color: var(--primary-text);
    border-style: var(--borderstyle);
    border-color: var(--border-color);
}
.rightText {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    text-align: center;
    margin-top: var(--margintop);
    color: var(--primary-text);
    border-style: var(--borderstyle);
    border-color: var(--border-color);
}
.midText {
    grid-row: 2 / 2;
    grid-column: 3 / 3;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    text-align: center;
    margin-top: var(--margintop);
    color: var(--primary-text);
    border-style: var(--borderstyle);
    border-color: var(--border-color);
} 