.footer {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    position: relative;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    align-self: end;
    align-content: end;
    align-items: end;
    border-style: var(--border-style);
    border-color: var(--border-color);
} 
